@charset "UTF-8";

:root{
    --corfundo: #FAFAFA;
    --cordivform: #FFFFFF;
    --corbutton: #0095F6;
    --corlinkface: #385185;
    --corcadastro: #4295F6;

    --fonte: 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html, body, main{
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--corfundo);
}

main{
    position: relative;
}

article{
    position: absolute;
    display: block;
    margin: auto;
    min-width: 800px;
    height: 600px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

div#left{
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    background-color: var(--corfundo);
}

div#right{
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    background-color: var(--corfundo);
}

div#img{
    position: absolute;
    display: block;
    width: 99%;
    height: 580px;
    background: url(../imagens/instagram\ celular.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*transform: translateY(7%);*/
    left: 45%;
    top: 50%;

    transform: translate(-50%, -50%);
    
}

/*div#imgcel{
    position: absolute;
    height: 400px;
    width: 53%;
    background-image: url(../imagens/instagramfoto02.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    left: 31%;
    top: 15%;
}*/

div#form{
    position: absolute;
    display: block;
    width: 390px;
    height: 494px;
    float: left;
    background-color: white;
    margin-top: 50px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308);
}

div#logo{
    width: 180px;
    height: 90px;
    background-image: url(../imagens/instagram-logo-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 50px;
    

}

form{
    display: block;
}

.input{
    display: block;
    text-align: center;
    margin: auto;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: var(--corfundo);
    margin-bottom: 10px;
}

#botao{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: #0094f64d;
    margin-bottom: 10px;
    color: white;
    font-size: 17px;
    font-weight: bolder;
}

#botao:hover{
    cursor: pointer;
    background-color: var(--corbutton);
}

.line{
    display: inline-block;
    margin-top: 34px;
    height: 1px;
    width: 130px;
    background-color: rgba(128, 128, 128, 0.548);
    margin-left: 29px;
    
}

span{
    display: inline-block;
    margin: auto;
    margin-left: 24px;
    color:  rgba(92, 91, 91, 0.61);
    font-size: 15px;
    font-weight: 700;
}

a#facebook{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin-top: 40px;
    color: var(--corlinkface);
    font-weight: 600;
}

img{
    height: 19px;
    margin-right: 10px;

}

#esqueceusenha{
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.925);
    font-weight: 400;
}

#esqueceusenha:hover{
    text-decoration: underline;
}

iframe{
    position: relative;
    width: 233px;
    height: 427px;

    top: 75px;
    left: 138px;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.596);
}






